body {
    background-color: black;
    color: #fff;
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #place-button{
    position: absolute;
    bottom: 20px;
    left: calc(50% - 50px);
    width: 100px;
    height: 35px;
    display: none;
  }

  #VRButton{
    margin-bottom: 70px !important;
  }

  .bouton {
    position: absolute;
    z-index : 5;
    top : 0;
  }

  #container {
    top: 0;
    left: 0;
  }

  #startButton {
    position: absolute; 
    margin-left: 5px; 
    z-index:5;
  }
  #stopButton {
    position: absolute;  
    margin-left: 25px;
    z-index:5;
  }